* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  --bgColor: hsl(0, 0%, 98%);
  --fontColor: hsl(200, 15%, 8%);
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.container:nth-child(1) {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.toggle {
  font-size: 18px;
  cursor: pointer;
}

.toggle .i {
  padding-right: 5px;
}

.form-control {
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.form-control input {
  width: 100%;
  padding: 17px 14px;
  outline: 0;
  border: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.form-control i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 8px;
  cursor: pointer;
}

.dropDownCon {
  width: 200px;
  position: relative;
}

.dropDown {
  width: 100%;
  padding: 17px 14px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
}

.dropDown p {
  letter-spacing: 0.5;
}

i {
  cursor: pointer;
}

.drop {
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: 70px;
  padding: 17px 14px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--bgColor);
  cursor: pointer;
}

.drop p {
  margin: 5px 0;
}

.countries {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.country {
  min-height: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.country-img {
  height: 250px;
}

.country-img img {
  width: 100%;
  height: 100%;
}

.country-info {
  padding: 20px 17px;
}

.country-info h5 {
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.country-info p {
  letter-spacing: 1px;
}

.country-info p > strong {
  font-weight: 600;
}

.showDropDown {
  display: none;
}

.region {
  font-size: 18px;
  font-weight: 500;
}

.open {
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  top: 50px;
  background-color: #1906063c;
  transition: 1s;
  visibility: hidden;
}

.red {
  background-color: red;
}

.map,
.countryCapital,
.regionName,
.countryName,
.countryPopulation {
  color: #1f1f1f;
}

.map {
  text-decoration: underline;
}

@import url("https://fonts.google.com/specimen/Nunito+Sans");
